.DS_Store

node_modules
.turbo/

coverage
test-results.json

.next/
next-env.d.ts
dist/
target/
coverage/
next-env.d.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.env
!example*.env