@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-typography-foreground: #000000;
  --color-typography-separator: #ccc;
  --color-typography-code-background: #e6e6e6;
  --color-typography-code-foreground: #000000;
  --color-typography-code-border: #666;

  --font-sans: var(--font-abc-diatype);
  --font-mono: var(--font-abc-diatype-mono);
}

a,
button,
input {
  @apply outline-none focus-visible:ring-2 focus-visible:ring-foreground;
}

a,
button {
  @apply cursor-pointer;
}
