name: "${namespace}"

services:
  web:
    image: "${web_image_tag}"
    environment:
      HOSTNAME: "0.0.0.0"
      PORT: "80"
      PRESENCE_SERVER_URL: "wss://${app_domain}/presence"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${namespace}-web.rule=Host(`${app_domain}`)"
      - "traefik.http.services.${namespace}-web.loadbalancer.server.port=80"
      - "traefik.http.services.${namespace}-web.loadbalancer.healthcheck.path=/api/health"
      - "traefik.http.services.${namespace}-web.loadbalancer.healthcheck.interval=10s"
    deploy:
      replicas: ${web_replicas}
    networks:
      - web
      - public

  presence:
    image: "${presence_image_tag}"
    environment:
      HOST: "0.0.0.0"
      PORT: "80"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${namespace}-presence.rule=Host(`${app_domain}`) && PathPrefix(`/presence`)"
      - "traefik.http.routers.${namespace}-presence.middlewares=${namespace}-presence-stripprefix"
      - "traefik.http.middlewares.${namespace}-presence-stripprefix.stripprefix.prefixes=/presence"
      - "traefik.http.services.${namespace}-presence.loadbalancer.server.port=80"
      - "traefik.http.services.${namespace}-presence.loadbalancer.healthcheck.path=/"
      - "traefik.http.services.${namespace}-presence.loadbalancer.healthcheck.interval=10s"
    deploy:
      replicas: ${presence_replicas}
    networks:
      - presence
      - public

networks:
  web:
  presence:
  public:
    external: true
